<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<!DOCTYPE html>
{% load static %}

<div style = "background-color: #00ff00;">
    {% include "store/navbar.html" %}
    <br>
    <br>
    <br>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
          <div class="media-left pr30">
            <a href="#">
              <img class="media-object mw150" src="{{request.user.customer.imageURL}}" alt="...">
            </a>
          </div>
          <div class="media-body va-m">
            <h2 class="media-heading">{{user.first_name}} {{user.last_name}}
            </h2>
            <a href="{% url 'account:logout' %}">Logout</a>
            <p class="lead"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title"> User Popularity</span>
            </div>
            <div class="panel-body pn">

            </div>
          </div>
          
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
               
              </span>
              User Information
              <span class="panel-title"></span>
            </div>
            <div class="panel-body pb5">
              <h6>User Name</h6>
              <p class="text-muted">{{user.username}}
              </p>

              <hr class="short br-lighter">

              <h6>Phone Number</h6>
              <p class="text-muted"> {{customer.phone}}
              </p>

              <hr class="short br-lighter">

              <h6>E-mail</h6>
              <p class="text-muted pb10">{{user.email}}
              </p>
              <hr class="short br-lighter">
              <span class="panel-icon">
                  <img style='height: 7%; width: 7%; object-fit: contain' src="{% static 'images/address.png' %}">             
                  Address
                </span>
                <br>
                <br>
                  <p class="text-muted pb10">{{address.apartmentNo}}</p>                  
                  <p class="text-muted pb10">{{address.aveSt}}</p>
                  <p class="text-muted pb10">{{address.town}}</p>
                  <p class="text-muted pb10">{{address.city}}/{{address.country}}</p>
                  <p class="text-muted pb10">{{address.zipCode}}</p>

                  </div>
            
          </div>

        </div>
        <div class="col-md-8">

          <div class="tab-block">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a href="#tab1" class="nav-link active" data-toggle="tab"> Edit</a>
              </li>
              <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab"> Orders</a>
              </li>
              <li class="nav-item">
                <a href="#tab3" class="nav-link" data-toggle="tab"> My Store</a>
              </li>
            </ul>




            <div class="tab-content" style="height: 730px;">
               <div class="tab-pane fade show active" id="tab1">
                  <li><a href="{% url 'account:updateform' %}">Edit User Information</a></li>
                  <li><a href="{% url 'account:addproductform' %}">Add Product</a></li>
              </div>
              
              <div class="tab-pane fade" id="tab2">
                <div class="box-element">
                  <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                  </div>
                  {%for item in items %}
                  <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>₺{{item.product.price|floatformat:2}}</p></div>
                    <div style="flex:1">
                      <p class="quantity">x{{item.quantity}}</p>
                      <div class="quantity">
                        <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">

                        <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                      </div>
                    </div>
                    <div style="flex:1"><p>₺{{item.get_total}}</p></div>
                  </div>
                  {%endfor%}

                </div>               
              </div>
              <div class="tab-pane fade" id="tab3">
                <div class="small-container">
                    <div class="row">
                      {% for product in products %}
                        <div class="col-4">
                          <img class="thumbnail" src="{{product.imageURL}}">
                          <h6><strong>{{product.name}}</strong></h6>
                          <a  data-product="{{product.id}}" class="btn btn-success" href="{% url 'product_details' product.id %}">Details</a>
                          <h4 style="display: inline-block; float: right"><strong>{{product.price|floatformat:2}}₺</strong></h4>
                        </div>
                      {%endfor%}
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



{% endblock %}