<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}

<div style = "background-color: #00ff00;">
    {% include "store/navbar.html" %}
    <br>
    <br>
    <br>
</div>
<h3>
	Password reset
</h3>

<form method="POST" action="{% url 'account:reset_passwod' %}">{% csrf_token %}
	<input type="email" name="email" placeholder="Email">
	<input type="Submit" name="Send email">
</form>
{% endblock %}
