<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
<div style = "background-color:#DDDDE0;">
<div style = "background-color: #00ff00;">
    {% include "store/navbar.html" %}
    <br>
    <br>
    <br>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-12">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<div class="col-lg-12">
		<div class="box-element">

			<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
					<th><h5>Total:<strong> ₺{{order.get_cart_total|floatformat:2}}</strong></h5></th>
					<th>
						<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
					</th>
					{% if messages %}
						<ul>
						   {% for message in messages %}
							   <li>{{ message }}</li>
						   {% endfor %}
						</ul>
					{% endif %}
				</tr>
			</table>

		</div>

		<br>
		<div class="box-element" style = "background-color:white">
			<div class="cart-row">
				<div style="flex:2"></div>
				<div style="flex:2"><strong>Item</strong></div>
				<div style="flex:1"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="flex:1"><strong>Total</strong></div>
			</div>


				<div class="col-lg-12">

				<div style = "background-color:white;">
			{%for item in items %}


			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>₺{{item.product.price|floatformat:2}}</p></div>
				<div style="flex:1">
					<p class="quantity">x{{item.quantity}}</p>
					<div class="quantity">
						<img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

						<img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex:1"><p>₺{{item.get_total}}</p></div>
				</div>

			{%endfor%}
			</div>
		</div>
	</div>
	</div>
	</div>
		</div>
		</div>
		</div>

	</div>
	<br>
	 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	  <br>
    <br>
    <br>
    <br>
</div>
<div class="footer">
	<div class="row">
		<div class="col-5">
			<ul>
				<li><h4>Baran Hasan BOZDUMAN</h4></li>
					<div class="img_link">
						<a href="https://github.com/bhbduman" target="blank">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</a><br>
					</div>
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Nevzat SEFEROGLU</h4></li>
					<a href="https://github.com/nevzatseferoglu" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a>
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Ceren GUMUS</h4></li>
					<a href="https://github.com/cerengumus" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a>

			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Ali Bahar</h4></li>
					<a href="https://github.com/alibhr" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>iletisim Bilgileri</h4></li>
				<li>Gebze Teknik Universitesi<h4>
                    <li>+9054623235642<h4>
					<a href="https://github.com/SoftEngProjects-RapidSoft/Keen-On" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
				</h4></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
