<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}

<div class="container">
	{% include "store/navbar.html" %}
	<div class="row">
		<div class="col-2">
			<h1>Keen-on</h1>
			<p> Software 343 project main page</p>
			<a href="https://github.com/SoftEngProjects-RapidSoft/Keen-On" class="btn" target="blank">Explore More</a>
		</div>
		<div class="col-2">
			<img src="{% static 'images/mainpage.png' %}">
		</div>
	</div>
</div>

<!---------------------------------------------------------------------->

<!-----
<div class="categories">
	<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="">
				<p>Category-1</p>
			</div>
			<div class="col-3">
				<img src="">
				<p>Category-2</p>
			</div>
			<div class="col-3">
				<img src="">
				<p>Category-3</p>
			</div>
		</div>
	</div>
</div>
----->

<!---------------------------------------------------------------------->

<div class="small-container">



	<h2 class="title">Latest Products </h2>
	<div class="row">
		{% for product in products %}
		<div class="col-3">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a  data-product="{{product.id}}" class="btn btn-success" href="{% url 'product_details' product.id %}">Details</a>

				<h4 style="display: inline-block; float: right"><strong> ₺{{product.price}}</strong></h4>
				<div class="fb-like" data-href="http://127.0.0.1:8000/store/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!---------------------------------------------------------------------->

<div class="footer">
	<div class="row">
		<div class="col-5">
			<ul>
				<li><h4>Baran Hasan BOZDUMAN</h4></li>
				<li><h4>
					<div class="img_link">
						<a href="https://github.com/bhbduman" target="blank">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</a><br>
					</div>
				</h4></li>
				<img src="{% static 'images/Baran_placeholder.png' %}">
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Nevzat SEFEROGLU</h4></li>
				<li><h4>
					<a href="https://github.com/nevzatseferoglu" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
				</h4></li>
				<img src="{% static 'images/Nevzat_placeholder.png' %}">
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Ceren GUMUS</h4></li>
				<li><h4>
					<a href="https://github.com/cerengumus" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
				</h4></li>
				<img src="{% static 'images/Ceren_placeholder.png' %}">
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Ali Bahar</h4></li>
				<li><h4>
					<a href="https://github.com/alibhr" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
				</h4></li>
				<img src="{% static 'images/Ali_placeholder.png' %}">
			</ul>
		</div>
		<div class="col-5">
			<ul>
				<li><h4>Project Details</h4></li>
				<li><h4>
					<a href="https://github.com/SoftEngProjects-RapidSoft/Keen-On" target="blank">
						<div class="img_link">
							<img src="{% static 'images/GitHub.png' %}">
							GitHub
						</div>
					</a><br>
				</h4></li>
				<img src="{% static 'images/All.png' %}">
			</ul>
		</div>
	</div>
</div>

{% endblock %}
